{% extends 'base.html' %}

{% load humanize %}

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
            <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- About us start -->
<div class="about-us content-area-8 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="properties-service-v">
                    <img src="../static/img/111.jpg" alt="admin" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-7 align-self-center">
                <h1>Welcome to dreaM House!
                </h1>
                <p>
                    dreaM House is an end to end Property Management Company providing best services. We are there to solve all the problem related to property. 
                    dreaM House has been founded with the purpose of providing trustworthy property management services in India and providing best properties. In a country like India, where resources are scarce, Non-Resident owners are often compelled to lock their houses due to a lack of property management options. dreaM House believes that a large resource like an empty house should be put to optimal use. This is good for the customer. As India’s leading property management company, dreaM House is working to unlock those locked doors.
                    Our team comprises highly educated and experienced professionals. We believe in service and commitment. You trust us with your property and we take that seriously. Our team will overcome obstacles, find solutions, and deliver exceptional results. This is what makes us one of the best property management companies in India. 
                </p>
                <div class="about-text more-info">
                    <div id="faq" class="faq-accordion">
                        <div class="card m-b-0">
                            
                            
                            <div class="card-header">
                               <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse1">
                                   Why Choose Us
                                </a>
                            </div>
                            <div id="collapse1" class="card-block collapse">
                                
                                <ul>
                                    <li>
                                        <p>
                                        dreaM House is a new home rental platform that makes it easier to find your new home without paying any brokerage. Use our verified
                                        listing to ensure you find your dream home by contacting the owners directly. In case you cannot find a property you are looking for,
                                        please post a requirement and we'll send you email notification with properties matching your requirements. 
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                        dreaM House is a disruptive real-estate platform that makes it possible to buy/sell/rent a house without paying any brokerage
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            dreaM House was started because all of us believed that paying hefty brokerage can not be the only option to find a new home.
                                            As tenants, we have been paying these brokerages year on year without seeing any advantage of the broker. The only reason he 
                                            existed was that there was a huge information asymmetry in the market. dreaM House is a platform that removes this information asymmetry 
                                            and provides a marketplace for free exchange of this information that used to cost 1-2 months of rent as brokerage.
                                        </p>
                                    </li>
                                    <li>
                                        <h5>
                                            We have done 2 things to help you find that perfect home: 
                                        </h5>
                                        <p>
•	Firstly, we have painstakingly verified each listing and made sure that these are direct owners or shared accommodation parties and there are no middlemen or brokers. We use lot of heuristics and techniques to ensure that you get a totally broker free list. 
</p>
<p>
•	Secondly, we have also tried to ensure that maximum information is available to you in as easy to use format. This ensures that you get a very good idea of the property even before you visit it. Thus, you can shortlist flats sitting at the comfort of your home without actually traveling all the good and bad properties. This saves your time and effort and with a quick shortlist of few properties you can actually get a house in few hours! 
If you are a landlord interested in posting your apartments to dreaM House, please email us at hello@dreaM House.in and we will get in touch to help you list the property.


                                        </p>
                                    </li>
                                </ul>
                            </div>
<!--
    
                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse2">
                                    Worldwide charity programs
                                </a>
                            </div>
                            <div id="collapse2" class="card-block collapse">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim, tincidunt vel turpis vel, dapibus tempus nulla. Donec vel nulla dui. Pellentesque sed ante sed ligula hendrerit condimentum. Suspendisse rhoncus fringilla ipsum.</p>
                            </div>

                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse3">
                                    Honesty and integrity
                                </a>
                            </div>
                            <div id="collapse3" class="card-block collapse">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim, tincidunt vel turpis vel, dapibus tempus nulla. Donec vel nulla dui. Pellentesque sed ante sed ligula hendrerit condimentum. Suspendisse rhoncus fringilla ipsum.</p>
                            </div>

                            <div class="card-header bd-none">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse4">
                                    Online donation system with different methods
                                </a>
                            </div>
                            <div id="collapse4" class="card-block collapse">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim, tincidunt vel turpis vel, dapibus tempus nulla. Donec vel nulla dui. Pellentesque sed ante sed ligula hendrerit condimentum. Suspendisse rhoncus fringilla ipsum.</p>
                            </div>
                            
-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About us end -->


<!-- agent start -->
<div class="agent content-area-2">
    <div class="container">
        <div class="main-title">
            <h1>Meet Our Agents</h1>
        </div>
        <div class="row">
            {% if realtors %}
            {% for realtor in realtors %}
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="agent-2">
                    <div class="agent-photo">
                        <a href="#">
                            <img src="{{ realtor.photo.url }}" alt="avatar-5" class="img-fluid"  style="width: 25rem; height: 16rem;">
                        </a>
                    </div>
                    <div class="agent-details"  >
                      <h4>{{ realtor.name }}</h4>
                      <p class="text-success">
                        <i class="fas fa-award text-success mb-3"></i> Realtor</p>
                      <hr>
                      <p>
                        <i class="fas fa-phone"></i>
                        <a href="tel:+0477-85x6-552">: {{ realtor.phone }}</a></p>
                      <p>
                        <i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No Realtors Available</p>
            </div>
             {%endif%}
        </div>
    </div>
</div >
<!-- agent end -->

<!-- Counters start --
<div class="counters overview-bgi" style="background-image: url(../static/assets/img/bg-photo-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-tag"></i>
                    <h1 class="counter">500</h1>
                    <h5>Lines of Sale</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-badge"></i>
                    <h1 class="counter">254</h1>
                    <h5>Listings For Rent</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-call-center-agent"></i>
                    <h1 class="counter">510</h1>
                    <h5>Agents</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-job"></i>
                    <h1 class="counter">94</h1>
                    <h5>Brokers</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters end -->

<!-- Testimonial 3 start -->
<div class="testimonial testimonial-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="testimonial-inner">
                    <header class="testimonia-header">
                        <h1>Testimonial</h1>
                    </header>
                    <div id="carouselExampleIndicators2" class="carousel slide " data-ride="carousel">
                        <ol class="carousel-indicators ">
                            <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <p class="lead">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                </p>
                                <div class="avatar">
                                    <img src="../static/assets/img/avatar/avatar-2.jpg" alt="avatar-2" class="img-fluid rounded">
                                </div>
                                <ul class="rating">
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-half-full"></i>
                                    </li>
                                </ul>
                                <div class="author-name">
                                    John Antony
                                </div>
                            </div>
                            <div class="carousel-item">
                                <p class="lead">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                </p>
                                <div class="avatar">
                                    <img src="../static/assets/img/avatar/avatar.jpg" alt="avatar" class="img-fluid rounded">
                                </div>
                                <ul class="rating">
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-half-full"></i>
                                    </li>
                                </ul>
                                <div class="author-name">
                                    Martin Smith
                                </div>
                            </div>
                            <div class="carousel-item">
                                <p class="lead">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                </p>
                                <div class="avatar">
                                    <img src="../static/assets/img/avatar/avatar-3.jpg" alt="avatar-3" class="img-fluid rounded">
                                </div>
                                <ul class="rating">
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-half-full"></i>
                                    </li>
                                </ul>
                                <div class="author-name">
                                    Karen Paran
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial 3 end -->

  <!--Alert Messages-->
  {% include 'partials/_alerts.html' %}
  
 <!-- Listings 1 -->
 <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Listings</h3>
        <div class="row">
        {% if listings %}
        {% for listing in listings %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="property-box">
                <div class="property-thumbnail">
                    <a href="{% url 'listing' listing.id %}"  class="property-img"  >
                        <div class="tag button alt featured">Featured</div>
                        <div class="price-ratings-box">
                            <p class="price">
                                ₹{{ listing.price }}
                            </p>
                            <div class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                        <img src="{{ listing.photo_main.url }}" alt="property-1" class="img-fluid" style="width:22rem; height: 16rem;">
                    </a>
                    <div class="property-overlay">
                        <a href="{% url 'listing' listing.id %}" class="overlay-link">
                            <i class="fa fa-link"></i>
                        </a>

                        <div class="property-magnify-gallery">
                            <div class="active item carousel-item" data-slide-number="0" >
                                <a href="{{  listing.photo_main.url }}" data-lightbox="home-images" class="overlay-link">
                                <i class="fa fa-expand"></i>
                                </a>
                                </div>
                            {% if listing.photo_1 %}
                            <div class="item carousel-item" data-slide-number="1">
                                <a href="{{ listing.photo_1.url }}" data-lightbox="home-images">
                                    <img src="{{ listing.photo_1.url }}" class="img-fluid" alt="property-6"  >
                                </a>
                            </div>
                            {% endif %}
                            {% if listing.photo_2 %}
                            <div class="item carousel-item" data-slide-number="2">
                             <a href="{{ listing.photo_2.url }}" data-lightbox="home-images">
                                <img src="{{ listing.photo_2.url }}" class="img-fluid" alt="property-1"  >
                             </a>
                            </div>                        
                            {% endif %}
                            {% if listing.photo_3 %}
                            <div class="item carousel-item" data-slide-number="4">
                             <a href="{{ listing.photo_3.url }}" data-lightbox="home-images">
                                <img src="{{ listing.photo_3.url }}" class="img-fluid" alt="property-5"  >
                             </a>
                            </div>                        
                            {% endif %}
                            {% if listing.photo_4 %}
                            <div class="item carousel-item" data-slide-number="5">
                             <a href="{{ listing.photo_4.url }}" data-lightbox="home-images">
                                <img src="{{ listing.photo_4.url }}" class="img-fluid" alt="property-8"  >
                             </a>
                            </div>                        
                            {% endif %}
                            {% if listing.photo_5 %}
                            <div class="item carousel-item" data-slide-number="6">
                             <a href="{{ listing.photo_5.url }}" data-lightbox="home-images">
                                <img src="{{ listing.photo_5.url }}" class="img-fluid" alt="property-8"  >
                            </a>
                            </div>                        
                            {% endif %}
                            {% if listing.photo_6 %}
                            <div class="item carousel-item" data-slide-number="7">
                                <a href="{{ listing.photo_6.url }}" data-lightbox="home-images">
                                    <img src="{{ listing.photo_6.url }}" class="img-fluid" alt="property-8"  >
                                </a>
                                </div>                        
                            {% endif %}
                            
                           
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <h1 class="title">
                        <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                    </h1>
                    <div class="location">
                        <a href="{% url 'listing' listing.id %}">
                            <i class="fa fa-map-marker"></i>{{listing.address}}
                        </a>
                    </div>
                    <ul class="facilities-list clearfix">
                        <li>
                            <i class="flaticon-bed"></i> {{listing.bedrooms}} : Bedroom
                        </li>
                        <li>
                            <i class="flaticon-bath"></i> {{listing.halls}} : Hall
                        </li>
                        
                        <li>
                            <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>{{listing.lot_size}} Sq Ft
                        </li>
                        <li>
                            <i class="fa fa-coffee"></i> {{listing.kitchen}} : kitchen
                        </li>
                    </ul>
                </div>
                <div class="footer">
                    <a href="#">
                        <i class="fa fa-user"></i>{{listing.realtor}} : realtor
                    </a>
                    <span>
                            <i class="fa fa-calendar-o"></i> {{listing.list_date}}
                        </span>
                </div>
            </div>
        </div>
        {%endfor%}
        {% else %}
        <div class="col-md-12">
        <p>No Listings Available</p>
        </div> 
        {% endif%}
        </div>
    </div>
</section>
  
  <!-- Featured properties end -->
  
  {% endblock %}